{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Sign Up as new user</h1>
            </div>
        </div>
        <form action="{% url 'sign up' %}" method="post">
            <table class="table table-hover" align="center">
                {{ form.as_table }}
                {% csrf_token %}
            </table>
            <button class="btn btn-success">Sign Up</button>
            or <a class="btn btn-primary" href="{% url 'sign in' %}">Sign in</a>
        </form>
    </div>
{% endblock %}